<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17"
            class="mdsdteam17.Mdsdteam17Package"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17/environment"
            class="mdsdteam17.environment.EnvironmentPackagePackage"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17/allocation"
            class="mdsdteam17.allocation.AllocationPackagePackage"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17/assembly"
            class="mdsdteam17.assembly.AssemblyPackagePackage"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17/componentbehavior"
            class="mdsdteam17.componentbehavior.ComponentBehaviorPackagePackage"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdteam17 -->
      <package
            uri="http://www.example.org/mdsdteam17/repository"
            class="mdsdteam17.repository.RepositoryPackagePackage"
            genModel="model/mdsdteam17.genmodel"/>
   </extension>

</plugin>
