# generated plugin projects
/mdsdteam17.edit
/mdsdteam17.editor
/mdsdteam17.tests
/mdsdteam17/src/mdsdteam17
src-gen/
xtend-gen/
/de.uka.ipd.sdq.pcm.edit
/de.uka.ipd.sdq.pcm.editor
/de.uka.ipd.sdq.pcm.tests
